* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  :root {
    --white: #FFF;
    --black: #000;
    --grey: #d3d3d3;
    --grey-800: #80808080;
    --grey-900: #494949;
    --green-900: rgb(1, 48, 1);
    --green-700: rgb(90, 133, 90);
  }
  
  button,a {
    cursor: pointer;
  }
  
  a {
    color: red;
}

body {
  background-color: var(--grey);
  width: 100vw;
  height: 100vh;

}
main {
  display: flex;
  width: 100%;
  height: 100%;
}

.div-navegacao-style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  background-color: var(--white);
  min-width: 180px;
}

.usuario-style {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--grey);
  padding: 10px;
  height: 100px;
  width: 100%;
  flex-wrap: wrap;
}

.imagem-circular {
  height: 35px;
  width: 35px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 25px;
  margin-right: 5px;
}

.nome-style {
  font-weight: bold;
  color: var(--green-900);
}

.email-style {
  font-size: 0.8rem;
  color: var(--green-700)
}

.link-style {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.link-style:hover {
  background-color: var(--green-700);
}

.botao-style {
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao-style button{
  width: 90%;
  border: none;
  background-color: var(--green-900);
  color: var(--white);
  height: 35px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.botao-style button:hover {
  background-color: rgba(1, 48, 1, 0.7);
}

.div-video-style {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

video {
  width: 80%;
  height: 80%;
}


@media (max-width: 768px){
  .usuario-style, .link-style {
    flex-direction: column;
  }

  .informacoes-style {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}